/* import font from Google API */
@import url('http://fonts.googleapis.com/css?family=Karla');

/* define custom variables */
:root {
  --garnet: #781c2e;
  --midnightblue: #191970;
  --golden: #f7ad13;
  --slategray: #99AABB;
  --darkslategray: #556677;
}

/* header */
div#header {
  display: block;
  position: absolute;
  height: 75px;
  width: 100%;
  background-color: var(--garnet);
  text-align:center;
  border: 8px double var(--golden);
}

div#navigation {
  font-family: 'Karla', serif;
  font-size: 28px;
  font-color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  padding-top: 20px;
}

/* body */
body {
  margin: 0px;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  color: white;
  background-color: black
}

/* page content */
#content {
  padding: 100px 50px;
}

/* hyperlink */
a.link-header {
  color: inherit;
  text-decoration: none;
}

a.link-header:hover {
  color: var(--midnightblue);
}

a.link-header:active {
  color: var(--golden);
}

a{
  color: var(--slategray);
  text-decoration: none;
}

a:hover {
  color: var(--darkslategray);
}

/* list */
ul, li {
  list-style: none;
}

/* headings */
h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}
